.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 50;
}

.modal__close {
  background-image: url(../../assets/icons/close.png);
  background-size: cover;
}

.modal-options {
  background-image: var(--bg-gradient);
}

.modal-options__title {
  margin-top: 100px;
  margin-bottom: 37px;
  color: var(--white);
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
}

.modal-options__container {
  width: 86.66%;
}
