.start {
  position: relative;
  height: 100vh;
  background: var(--bg-gradient);
  transition: transform 0.35s linear;
}

.start__options {
  position: absolute;
  top: 41px;
  right: 32px;
  width: 50px;
  height: 50px;
  background-color: var(--dark-white);
  background-image: url(../../assets/icons/loading.png);
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: center;
}

.start__options:active {
  border: 2px solid var(--black);
}

.start.move-left {
  transform: translateX(-100%);
  transition: transform 0.35s linear;
}

.start__title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 170px;
  font-size: 86.74px;
  font-weight: 700;
  line-height: 101.64px;
  color: var(--black);
  text-shadow: -5px -5px 0 var(--purple), 5px -5px 0 var(--purple),
    -5px 5px 0 var(--purple), 5px 5px 0 var(--purple);
  z-index: 10;
}

.start__container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 34.2%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-white);
  border-radius: 50px 50px 0 0;
  z-index: 10;
}

.icon {
  position: absolute;
  width: 64px;
  height: 64px;
}

.icon__world {
  top: 67px;
  left: 67px;
}

.icon__video {
  top: 153px;
  right: 30px;
}

.icon__monalisa {
  top: 207px;
  left: 131px;
}

.icon__scroll {
  top: 312px;
  left: 213px;
}

.icon__running {
  top: 364px;
  left: 50px;
}

.icon__plant {
  top: 437px;
  right: 50px;
}

/* Tablet  */
@media only screen and (min-width: 768px) {
  .start__title {
    padding-left: 1em;
    padding-right: 1em;
    font-size: 160px;
    line-height: 145px;
  }

  .start__options {
    width: 70px;
    height: 70px;
  }

  .icon {
    width: 100px;
    height: 100px;
  }

  .icon__monalisa {
    top: 23%;
    left: 25%;
  }

  .icon__scroll {
    top: 40%;
    left: 50%;
  }

  .icon__running {
    top: 55%;
    left: 15%;
  }

  .icon__plant {
    top: 60%;
    right: 10%;
  }

  .start__container {
    border-radius: unset;
  }
}

/* Desktop */
@media only screen and (min-width: 1440px) {
  .start__title {
    padding-top: 150px;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 200px;
    line-height: 233px;
    text-shadow: -10px -10px 0 var(--purple), 10px -10px 0 var(--purple),
      -10px 10px 0 var(--purple), 10px 10px 0 var(--purple);
  }

  .icon {
    width: 150px;
    height: 150px;
  }

  .icon__monalisa {
    left: 23%;
  }

  .icon__scroll {
    left: 60%;
  }
}
