.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  transform: translateX(100%);
  padding-bottom: 2.375em;
  background-color: var(--dark-white);
  overflow-y: auto;
}

.question__header {
  width: 100%;
  height: 125px;
  background-color: var(--dark-white);
}

.question__title {
  margin-top: 60px;
  margin-bottom: 23px;
  font-size: 32px;
  line-height: 42px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--white);
}

.question__title--geography {
  color: var(--geography);
}

.question__title--entertainment {
  color: var(--entertainment);
}

.question__title--sports {
  color: var(--sports);
}

.question__title--art {
  color: var(--art);
}

.question__title--nature {
  color: var(--nature);
}

.question__title--history {
  color: var(--history);
}

.question__text {
  width: 85%;
  margin-bottom: 26px;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
}

.question__form {
  width: 85%;
}

.question__form-label {
  display: flex;
  height: 76px;
  padding-left: 1.1875em;
  padding-right: 1.1875em;
  background-color: var(--white);
  box-shadow: 0px 5px 15px 0px #00000040;
  border-radius: 5px;
  margin-bottom: 15px;
}

.question__form-label:last-of-type {
  margin-bottom: 50px;
}

.question__form-input {
  display: none;
}

.question__form-text {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
}

.question__form-text::before {
  content: "";
  width: 27px;
  height: 27px;
  margin-right: 0.875em;
  border: 2px solid var(--black);
  border-radius: 50%;
}

.question__form-text::after {
  content: "";
  position: absolute;
  left: 5px;
  width: 21px;
  height: 21px;
  background-color: var(--dark-white);
  border-radius: 50%;
}

.question__form-label--checked {
  background-color: var(--purple);
}

.question__form-label--checked > p {
  color: var(--dark-white);
}

.question__form-label--checked > p::before {
  border: 2px solid var(--dark-white);
}

.question__form-button {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  border-radius: 5px;
  font-size: 24px;
  line-height: 28px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}
