.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  padding-bottom: 2.375em;
  background-color: var(--dark-white);
  overflow-y: auto;
  transform: translateX(100%);
  z-index: 50;
}

.question.move-left {
  transform: translateX(0%);
  transition: transform 0.35s linear;
}

.question__header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 110px;
  margin-bottom: 2em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  background-color: var(--purple);
}

.question__title {
  font-size: 40px;
  line-height: 42px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--white);
}

.question__text {
  width: 85%;
  margin-bottom: 30px;
  background-color: var(--white);
  padding: 1em 0.5em;
  border: 1px solid var(--purple);
  font-size: 28px;
  line-height: 34px;
}

.question__form {
  width: 85%;
}

.question__correct {
  margin-bottom: 20px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 20px;
}

.question__form-button {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  border-radius: 5px;
  font-size: 24px;
  line-height: 28px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.question__form-button--close {
  background-color: var(--dark-grey);
  transition: background-color 0.35s ease;
}

/* Tablet  */
@media only screen and (min-width: 768px) {
  .question__header {
    min-height: 200px;
  }

  .question__title {
    font-size: 50px;
  }

  .question__text,
  .question__form {
    width: 70%;
  }

  .question__text {
    font-size: 30px;
    line-height: 40px;
  }
}

/* Desktop  */
@media only screen and (min-width: 1440px) {
  .question {
    width: 50%;
    transform: translateX(200%);
  }

  .question.move-left {
    transform: translateX(100%);
    transition: transform 0.35s linear;
  }
}
