.modal-info {
  justify-content: unset;
  background-color: var(--dark-white);
}

.modal-info__title {
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 56px;
  font-weight: bold;
  color: var(--purple);
}

.modal-info__title--margin {
  margin-top: 21px;
}

.modal-info__section {
  width: 86.66%;
  margin-bottom: 1em;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--white);
  border: 1px solid var(--purple);
  text-align: left;
}

.modal-info__record {
  display: flex;
  width: 83.69%;
  height: 72px;
  margin: 0 auto 11px;
}

.modal-info__record:last-of-type {
  margin-bottom: 0;
}

.modal-info__piece {
  width: 60px;
  height: 100%;
}

.modal-info__piece img {
  width: 36px;
  height: 36px;
}

.modal-info__category {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 24px;
}

.modal-info__rule {
  margin: 0 auto;
  width: 83.69%;
}

.modal-info__subtitle {
  font-size: 30px;
  margin-bottom: 10px;
}

.modal-info__text {
  font-size: 22px;
  line-height: 32px;
  text-align: left;
}

/* Tablet  */
@media only screen and (min-width: 768px) {
  .modal-info__title {
    margin-bottom: 35px;
  }

  .modal-info__section {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .modal-info__record {
    height: 95px;
  }

  .modal-info__piece {
    width: 80px;
  }

  .modal-info__piece img {
    width: 45px;
    height: 45px;
  }

  .modal-info__category {
    font-size: 35px;
  }
}
