.game__tabs {
  display: flex;
  height: 55px;
  background-color: transparent;
}

.game__tab {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-width: 50%;
  height: 100%;
  background-color: var(--dark-grey);
  color: var(--dark-white);
  font-size: 1.2rem;
  line-height: 19px;
  overflow: hidden;
  transition: color, background-color;
  transition-delay: 0.5s;
}

.game__tab--active {
  background-color: var(--dark-white);
  color: var(--black);
}

.game__name {
  display: inline-block;
  max-width: 90%;
  max-height: 75%;
  text-transform: capitalize;
  overflow: hidden;
}

.game__fails {
  margin-left: 0.5em;
  margin-right: 0.1em;
  color: var(--entertainment);
}

.game__fails--animation {
  animation: animatedBlink 0.7s ease 6;
}
