.question__form-label {
  display: flex;
  min-height: 76px;
  padding: 1em 1.1875em;
  background-color: var(--white);
  box-shadow: 0px 5px 15px 0px #00000040;
  border-radius: 5px;
  margin-bottom: 15px;
}

.question__form-label:last-of-type {
  margin-bottom: 20px;
}

.question__form-input {
  display: none;
}

.question__form-text {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1.8em;
  font-size: 24px;
  text-align: left;
}

.question__form-text::before {
  content: "";
  position: absolute;
  left: -47px;
  width: 27px;
  height: 27px;
  border: 2px solid var(--black);
  border-radius: 50%;
}

.question__form-text::after {
  content: "";
  position: absolute;
  left: -42px;
  width: 21px;
  height: 21px;
  background-color: var(--dark-white);
  border-radius: 50%;
}

.question__form-label--checked {
  background-color: var(--purple);
}

.question__form-label--checked > p {
  color: var(--dark-white);
}

.question__form-label--checked > p::before {
  border: 2px solid var(--dark-white);
}
