.select {
  height: 100%;
  width: 100%;
}

.select__background {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  transform: translateX(100%);
  transition: transform 0.35s linear;
  background-color: var(--dark-white);
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 30;
}

.select__background.move-left {
  transform: translateX(0%);
  transition: transform 0.35s linear;
}

.select__header {
  position: relative;
  display: flex;
  justify-content: center;
  height: 18.34%;
  background: var(--bg-gradient);
}

.select__title {
  margin-top: 12%;
  color: var(--white);
  font-size: 36px;
  line-height: 42px;
  font-weight: normal;
}

.select__back,
.select__info {
  position: absolute;
  top: 25%;
  width: 40px;
  height: 40px;
  background-color: var(--white);
  background-repeat: no-repeat;
  background-position: center;
}

.select__back {
  left: 5.3%;
  background-image: url("../../assets/icons/left-chevron.png");
  background-size: 30px 30px;
}

.select__info {
  right: 5.3%;
  background-image: url("../../assets/icons/question-mark.png");
  background-size: 22.46px 22.46px;
  border-radius: 50%;
}

.select__form {
  position: absolute;
  top: 15.51%;
  left: 50%;
  transform: translateX(-50%);
  width: 81.33%;
  padding-bottom: 2em;
  z-index: 20;
}

.select__form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 115px;
  margin-bottom: 1.75em;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.select__form-group--players {
  height: auto;
}

.select__label {
  margin-bottom: 17px;
  color: var(--purple);
  font-size: 20px;
  font-weight: bold;
  line-height: 21px;
}

.select__label--players {
  margin-top: 20px;
}

.select__player {
  width: 79.34%;
  height: 36px;
  padding-left: 0.9375em;
  margin-bottom: 1.5em;
  border: 2px solid var(--black);
}

.select__player::placeholder {
  font-size: 13px;
  color: var(--black);
}

/* Tablet  */
@media only screen and (min-width: 768px) {
  .select__title {
    margin-top: 75px;
    font-size: 50px;
  }

  .select__back,
  .select__info {
    width: 55px;
    height: 55px;
  }

  .select__back {
    background-size: 40px 40px;
  }

  .select__info {
    background-size: 30px 30px;
  }

  .select__form {
    width: 66.33%;
  }

  .select__form-group {
    height: 130px;
  }

  .select__form-group--players {
    height: auto;
  }

  .select__label {
    font-size: 27px;
  }

  .select__player {
    height: 50px;
    font-size: 25px;
  }

  .select__player::placeholder {
    font-size: 20px;
  }
}

/* Desktop */
@media only screen and (min-width: 1440px) {
  .select {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--purple);
    transition: transform 0.5s linear;
  }

  .select__background {
    background-color: var(--purple);
  }

  .select__background.move-left {
    transform: translateX(0%);
    transition: transform 0.5s linear;
    transition-delay: 0.35s;
  }

  .select__back,
  .select__info {
    cursor: pointer;
  }

  .select__back {
    background-image: url("../../assets/icons/close.png");
    background-size: 25px 25px;
  }

  .select__back:hover,
  .select__info:hover {
    filter: invert(0.8);
  }

  .select__header {
    background-image: unset;
  }

  .select__title {
    margin-top: 55px;
  }

  .select__form {
    top: 156px;
    width: 40%;
  }
}
