.game {
  position: relative;
  height: 100vh;
  background: var(--bg-gradient);
  transition: transform 0.35s linear;
}

.game.move-left {
  transform: translateX(-100%);
  transition: transform 0.35s linear;
}

.game__options,
.start__options {
  position: absolute;
  top: 41px;
  right: 32px;
  width: 32px;
  height: 32px;
  background-image: url(../../assets/icons/option.png);
  z-index: 20;
}

.game__info {
  top: 101px;
  right: 28px;
  border: 2px solid var(--black);
}

.game__wheel {
  position: absolute;
  top: 41px;
  left: -38.6%;
  width: 97.3%;
  height: 365px;
  background-image: url(../../assets/icons/trivialLogo.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.game__wheel--blocked {
  pointer-events: none;
}
