.game {
  position: relative;
  height: 100vh;
  background: var(--bg-gradient);
}

.game__options {
  position: absolute;
  top: 41px;
  right: 32px;
  width: 32px;
  height: 32px;
  background-image: url(../../assets/icons/option.png);
}

.game__info {
  top: 101px;
  right: 28px;
  border: 2px solid var(--black);
}

.game__wheel {
  position: absolute;
  top: 41px;
  left: -38.6%;
  width: 97.3%;
  height: 45%;
  background-image: url(../../assets/icons/trivialLogo.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.game-players {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 47.8%;
  background-color: var(--dark-white);
}
