@import-normalize;

:root {
  --white: #fff;
  --dark-white: #fafafa;
  --black: #06080a;
  --dark-grey: #555b52;
  --purple: #5b518a;
  --sports: #ffbc41;
  --entertainment: #e63c1e;
  --history: #f5ee30;
  --geography: #0ec5d6;
  --nature: #76f877;
  --art: #ff57f7;

  --bg-gradient: linear-gradient(90deg, #5b518a, #9f95c1);
  --slot-gradient: linear-gradient(151deg, #d9d9d9 4.16%, #ffffff 88.11%);
  --entertainment-gradient: linear-gradient(
    152.52deg,
    #e63c1e 21.45%,
    #ff7860 96.37%
  );
  --history-gradient: linear-gradient(
    152.52deg,
    #f5ee30 21.45%,
    #fffb79 96.37%
  );
  --geography-gradient: linear-gradient(
    152.52deg,
    #0ec5d6 21.45%,
    #51e8f7 96.37%
  );
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 425px;
  font-family: "Roboto", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
}

input[type="text"] {
  outline: none;
}
