@import-normalize;

:root {
  --white: #fff;
  --dark-white: #fafafa;
  --black: #06080a;
  --dark-grey: #2a2a2a;
  --purple: #5b518a;
  --sports: #ffbc41;
  --entertainment: #f75134;
  --history: #f5ee30;
  --geography: #0ec5d6;
  --nature: #60f11c;
  --art: #ff57f7;

  --bg-gradient: linear-gradient(90deg, #5b518a, #9f95c1);
  --slot-gradient: linear-gradient(151deg, #d9d9d9 4.16%, #ffffff 88.11%);
  --entertainment-gradient: linear-gradient(152.52deg, #f75134 20%, #e63c1e96);
  --history-gradient: linear-gradient(152.52deg, #f5ee30 20%, #fbf3055b);
  --geography-gradient: linear-gradient(152.52deg, #0ec5d6 20%, #51e9f7a9);
  --nature-gradient: linear-gradient(152.52deg, #60f11c 20%, #53f350a6);
  --sports-gradient: linear-gradient(152.52deg, #ffbc41 20%, #f3d59e);
  --art-gradient: linear-gradient(152.52deg, #ff57f7 20%, #f872f1a6);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 425px;
  font-family: "Roboto", sans-serif;
}

button {
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
}

input[type="text"] {
  outline: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/* Tablet  */
@media only screen and (min-width: 768px) {
  body {
    max-width: 1024px;
  }
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  body {
    max-width: 100%;
  }
}
