.game__records {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 55px);
  background-color: var(--dark-white);
}

.game__record {
  position: absolute;
  display: grid;
  place-items: center;
  width: 100%;
  height: calc(100% - 55px);
  transform: translateX(100%);
  background-color: var(--dark-white);
  opacity: 0;
}

.game__record--active {
  transform: translateX(0%);
  opacity: 1;
  transition: transform 0.35s ease;
}

.game__pieces {
  width: 84%;
  height: 83%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.game__piece {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-image: var(--slot-gradient);
}

.game__piece--entertainment {
  background-image: var(--entertainment-gradient);
  box-shadow: inset 0px 0px 10px var(--entertainment);
}

.game__piece--history {
  background-image: var(--history-gradient);
  box-shadow: inset 0px 0px 10px var(--history);
}

.game__piece--geography {
  background-image: var(--geography-gradient);
  box-shadow: inset 0px 0px 10px var(--geography);
}

.game__piece--science {
  background-image: var(--nature-gradient);
  box-shadow: inset 0px 0px 10px var(--nature);
}

.game__piece--sports {
  background-image: var(--sports-gradient);
  box-shadow: inset 0px 0px 10px var(--sports);
}

.game__piece--art {
  background-image: var(--art-gradient);
  box-shadow: inset 0px 0px 10px var(--art);
}

.game__piece--animation {
  animation: animatedBlink 0.7s ease 6;
}

.game__final-question {
  position: absolute;
  width: 84%;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: var(--purple);
  color: var(--white);
  font-size: 1.5rem;
  font-weight: bold;
}
