.game__records {
  height: calc(100% - 55px);
  background-color: var(--dark-white);
}

.game__record {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 55px);
  transform: translateX(100%);
  background-color: var(--dark-white);
  opacity: 0;
  transition: transform 1.3s, opacity 0.35s;
  transition-timing-function: ease;
  transition-delay: 1s;
  z-index: 30;
}

.game__record--active {
  transform: translateX(0%);
  opacity: 1;
  transition: transform 1.3s ease 1s;
}

.game__pieces {
  width: 84%;
  height: 83%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  overflow-x: hidden;
}

.game__piece {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-image: var(--slot-gradient);
}

.game__piece--entertainment {
  background-image: var(--entertainment-gradient);
  box-shadow: inset 0px 0px 10px var(--entertainment);
}

.game__piece--history {
  background-image: var(--history-gradient);
  box-shadow: inset 0px 0px 10px var(--history);
}

.game__piece--geography {
  background-image: var(--geography-gradient);
  box-shadow: inset 0px 0px 10px var(--geography);
}

.game__piece--science {
  background-image: var(--nature-gradient);
  box-shadow: inset 0px 0px 10px var(--nature);
}

.game__piece--sports {
  background-image: var(--sports-gradient);
  box-shadow: inset 0px 0px 10px var(--sports);
}

.game__piece--art {
  background-image: var(--art-gradient);
  box-shadow: inset 0px 0px 10px var(--art);
}

.game__piece--animation {
  animation: animatedBlink 0.7s ease 4;
}

.game__final-question {
  position: absolute;
  top: calc(50% - 66px);
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: var(--purple);
  color: var(--white);
  font-size: 1.5rem;
  font-weight: bold;
  transform: translateX(-100%);
  opacity: 0;
}

.game__final-question--animation {
  transform: translateX(0%);
  transition: transform 0.75s ease 2s;
  opacity: 1;
}

/* Tablet  */
@media only screen and (min-width: 768px) {
  .game__pieces {
    width: 75%;
    height: 77%;
    margin-bottom: 2.5em;
  }

  .game__piece img {
    height: 50%;
  }
}

/* Desktop  */
@media only screen and (min-width: 1440px) {
  .game__pieces {
    grid-template-columns: repeat(6, 110px);
    grid-template-rows: 1fr;
    width: 660px;
    height: 50%;
  }

  .game__piece img {
    width: 60px;
  }

  .game__final-question {
    top: calc(50% - 82px);
  }
}
